@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 250 5.1% 11.6%; /* #1C1B1F */
    --foreground: 210 40% 98%;

    --card: 250 5.1% 15%;
    --card-foreground: 210 40% 98%;

    --popover: 250 5.1% 11.6%;
    --popover-foreground: 210 40% 98%;

    --primary: 255 35.1% 47.8%; /* #6750A4 */
    --primary-foreground: 252 100% 87.3%; /* #D0BCFF */

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 3.7% 25.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 252 100% 87.3%; /* #D0BCFF */
    --accent-foreground: 255 35.1% 30%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 20%;
    --input: 240 3.7% 20%;
    --ring: 255 35.1% 47.8%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
